__pycache__/
.env
.venv
app.log
*.p8
*.pub

# Airflow:
.airflow

# dbt:
target/
dbt_packages/
logs/

# Terraform:
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl
.terraform.tfstate.lock.info
terraform.tfvars
crash.log